<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
</head>

<body>
    <div>
        <h1>Legal Framework</h1>
        <p>You now know what you can and cannot do in terms of your decisions and actions in the procurement process, but what if you don’t abide by these rules? What are the repercussions?</p>
        <p>There are different levels of authorities that provide oversight in government procurement to ensure the rules are being followed. Authorities can be internal to organizations and also external to them. For example, many departments may have ethics advisors or compliance and oversight branches and interdepartmental governance committees. These authorities provide support for resolving issues internally before formal escalation may be required.</p>
        <p>The authorities with oversight responsibilities for procurement in the federal government are listed below. Their roles differ depending on the nature and monetary amount of the procurement.</p>

        <!-- TITRE 1 -->
        <div>
            <h2>Office of the Procurement Ombudsman</h2>
        </div>
        <p>The <i>Federal Accountability Act</i> amended the <i>Department of Public Works and Government Services Act</i> to provide for the appointment and mandating of a Procurement Ombudsman, who has four primary functions:</p>
        <table>
            <tr>
                <th>1</th>
                <td>Review the practices of organizations for acquiring materiel and services to assess their fairness, openness and transparency. Make any appropriate recommendations to the relevant organization for the improvement of these practices.</td>
            </tr>
        </table>
        <table>
            <tr>
                <th>2</th>
                <td>Review any complaint respecting the awarding of a contract for the acquisition of goods with a value of less than $26,400 and services worth less than $105,700 where the <i>Canadian Free Trade Agreement</i> would apply.</td>
            </tr>
        </table>
        <table>
            <tr>
                <th>3</th>
                <td>Review any complaint respecting the administration of a contract for the acquisition of materiel or services by an organization, regardless of dollar value.</td>
            </tr>
        </table>
        <table>
            <tr>
                <th>4</th>
                <td>Ensure the provision of an alternative dispute-resolution process if both parties agree to participate.</td>
            </tr>
        </table>
        <p>The <i>Federal Accountability Act</i> also specifies that the Governor in Council or the Minister may assign other duties or functions respecting the practices of departments for acquiring materiel and services to the Procurement Ombudsman. To fulfill this mandate, the Office of the Procurement Ombudsman’s strategic objectives focus on three pillars: educate, facilitate, investigate.</p>
        <p>For more information, consult the <a href="http://opo-boa.gc.ca/index-eng.html" target="_blank" alt="Link to the Office of the Procurement Ombudsman web page">Office of the Procurement Ombudsman</a>.</p>

        <!-- TITRE 2 -->
        <div>
            <h2>Canadian International Trade Tribunal</h2>
        </div>
        <p>The Canadian International Trade Tribunal (CITT) is an independent quasi-judicial body that reports to Parliament through the Minister of Finance. It is mandated to act within five key areas:</p>
        <div>
            <ol>
                <li>Procurement inquiries</li>
                <li>Anti-dumping injury inquiries</li>
                <li>Customs and excise appeals</li>
                <li>Economic and tariff inquiries</li>
                <li>Safeguard inquiries</li>
            </ol>
        </div>
        <div>
            <img />
        </div>
        <p>International trade agreements require that each party have an independent bid-challenge authority. A potential supplier may file a complaint concerning a procurement action to the Tribunal on the grounds that any aspect of the procurement process relating to a requirement covered by these agreements is unfair or discriminatory.</p>
        <p>If a complaint does go to the CITT, there may be a significant delay in the procurement process as a review is conducted and a recommendation is made to resolve the bid protest by re-evaluating offers, terminating the contract or re-starting the process. The CITT could require the payment of minor damages;  potentially, major damages could arise from a court decision.</p>
        <p>For more information, consult the <a href="https://www.citt-tcce.gc.ca/en/home.html" target="_blank" alt="Link to the Canadian International Trade Tribunal web page">Canadian International Trade Tribunal</a>.</p>

        <!-- TITRE 3 -->
        <div>
            <h2>Federal Court</h2>
        </div>
        <div>
            <img />
        </div>
        <div>
            <p>Suppliers can also submit an application for judicial review or action to the Federal Court, Canada's national trial court. It hears and renders decisions on legal disputes arising in the federal domain, including claims against the Government of Canada, civil suits in federally regulated areas and challenges to federal government decisions.</p>
        </div>
        <p>For more information, consult the <a href="https://www.fct-cf.gc.ca/en/home" target="_blank" alt="Link to the Federal Court web page">Federal Court</a>.</p>

        <!-- TITRE 4 -->
        <div>
            <h2>Internal Audit</h2>
        </div>
        <p>The oversight of public resources in the federal public administration is informed by a professional and objective internal audit function that is independent of departmental management. This function provides assurance that government activities are being managed in a way that demonstrates responsible stewardship to Canadians.</p>
        <p>Internal audit contributes directly and proactively to improving risk management, control and governance. Through its engagements, internal audit supports procurement goals related to compliance with applicable laws and policies, and helps to ensure that value for money is considered throughout the procurement process.</p>

        <!-- TITRE 5 -->
        <div>
            <h2>Office of the Comptroller General</h2>
        </div>
        <div>
            <table>
                <tr>
                    <th>The Comptroller General of Canada is responsible for providing functional direction and assurance government-wide for:</th>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li>financial management</li>
                            <li>internal audit</li>
                            <li>investment planning</li>
                            <li>procurement</li>
                            <li>project management</li>
                            <li>management of real property and materiel</li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
        <div>
            <table>
                <tr>
                    <th>The Office of the Comptroller General supports the Comptroller General of Canada by:</th>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li>working to ensure that sound policies, standards and practices are in place</li>
                            <li>overseeing performance and compliance across the federal government</li>
                            <li>maintaining and building vibrant professional communities through a range of recruitment and development activities</li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
        <p>Consult the <a href="https://www.canada.ca/en/treasury-board-secretariat/corporate/organization.html#ocg" target="_blank" alt="Link to the Office of the Comptroller General web page">Office of the Comptroller General</a> for more information.</p>

        <!-- TITRE 6 -->
        <div>
            <h2>Senior Designated Officials for the Management of Projects and Programs</h2>
        </div>
        <p>Senior designated officials are responsible for supporting their deputy heads in all requirements under the <a href="https://www.tbs-sct.gc.ca/pol/doc-eng.aspx?id=32593&section=html" target="_blank" alt="Link to the Policy on the Planning and Management of Investments web page">Policy on the Planning and Management of Investments</a>, including the capacity, competency and knowledge of the department's workforce in project and program management, procurement, real property, and materiel management.</p>
        <p>Consult the <a href="https://www.tbs-sct.gc.ca/pol/doc-eng.aspx?id=32594&section=html" target="_blank" alt="Link to the Directive on the Management of Projects and Programmes web page">Directive on the Management of Projects and Programmes</a> for more information on the roles and responsibilities of senior designated officials.</p>

        <!-- TITRE 7 -->
        <div>
            <h2>Auditor General</h2>
        </div>
        <p>The Auditor General can review program or government activity, including procurement activities. 
        In addition, the Commissioner of the Environment and Sustainable Development, who reports to the Auditor General, is responsible for assessing whether federal government organizations are meeting their sustainable development objectives.
        For example, performance-based contracts with the Government of Canada shall include provisions for meeting the applicable targets referred to in the Federal Sustainable Development Strategy and the organizational sustainable development strategies.</p>
        <p>For more information, consult the <a href="https://www.oag-bvg.gc.ca/internet/english/admin_e_41.html" target="_blank" alt="Link to the Office of the Auditor General of Canada web page">Office of the Auditor General of Canada</a>.</p>

        <!-- TITRE 8 -->
        <div>
            <h2>Standing Review Committees</h2>
        </div>
        <div>
            <p>A number of inter-organizational committees, including standing committees, now exist for the review of specialized areas of procurement like repair and overhaul or ammunition. They perform the functions of a procurement review committee.</p>
        </div>
        <div>
            <img />
        </div>
    </div>

    <div>
        <img />
    </div>
    <div>
        <img />
    </div>
</body>
</html>