<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
</head>

<body>
    <div>
        <h1>Procurement Process</h1>

        <!-- TITRE 1 -->
        <div>
            <h2>1. Requirement Definition</h2>
        </div>
        <div>
            <ul>
                <li>Security clauses consideration, if required</li>
                <li>Indigenous consultation and accommodation  </li>
                <li>Determine whether subject to Modern Treaties or Comprehensive Land Claim Agreements</li>
                <li>Determine whether subject to a Procurement Strategy for Aboriginal Business set-aside</li>
                <li>If the Nunavut Directive applies, determine Inuit firm capacity and resulting requirement</li>
                <li>Sole-source justification, as applicable</li>
                <li>National security exception, as applicable</li>
                <li>Accessibility considerations</li>
                <li>Define the requirement in its entirety, including the statement of work or the statement of requirements, as needed</li>
                <li>Translate documentation</li>
                <li>Obtain project and internal approval</li>
                <li>Certify the availability of funds</li>
                <li>Send requisition to organizational contracting unit or Public Services and Procurement Canada</li>
                <li>Alignment with governmental and departmental priorities and approved programs</li>
            </ul>
            <div>
                <p>Technical and Payment Authority</p>
            </div>
        </div>

        <!-- TITRE 2 -->
        <div>
            <h2>2. Procurement Strategy</h2>
        </div>
        <div>
            <ul>
                <li>Review requirement for fairness, openness and transparency</li>
                <li>Source from existing procurement instruments, if available</li>
                <ul>
                    <li>Regulations, modern treaties, comprehensive land claims agreements, trade agreements, Nunavut Directive, policies, etc.</li>
                </ul>
                <li>Competitive vs. non-competitive</li>
                <li>Exceptions being invoked</li>
                <li>Decide on method of supply</li>
                <li>Financial security considerations</li>
                <li>Evaluation criteria and methodology</li>
                <li>Selection methodology</li>
                <li>Procurement risk assessment</li>
            </ul>
            <div>
                <p>All Authorities</p>
            </div>
        </div>

        <!-- TITRE 3 -->
        <div>
            <h2>3. Solicitation Process</h2>
        </div>
        <div>
            <ul>
                <li>Review requisition documentation, statement of work, justifications and authorities</li>
                <li>Prepare contract documentation using approved contract templates and clauses</li>
                <ul>
                    <li>Official languages requirement</li>
                    <li>Solicitation document types: request for proposal, invitation to tender, request for quotation, telephone-buy, request for standard offer, request for supply arrangement</li>
                </ul>
                <li>Bid solicitation: notice of proposed procurement or advanced contract award notice, electronic or traditional competitive</li>
            </ul>
            <div>
                <p>Contract Authority</p>
            </div>
        </div>

        <!-- TITRE 4 -->
        <div>
            <h2>4. Evaluation and Negotiation</h2>
        </div>
        <div>
            <ul>
                <li>Technical evaluation: manager</li>
                <li>Clarification and questions on proposals directed to suppliers: procurement specialist</li>
                <li>If applicable, Indigenous Benefits Plan evaluation: manager</li>
                <li>Financial evaluation: procurement specialist – organizational contracting unit or Public Services and Procurement Canada</li>
                <li>Apply selection methodology: procurement specialist – organizational contracting unit or Public Services and Procurement Canada</li>
                <li>Price support, negotiations: procurement specialist</li>
                <li>Verifications: vendor performance corrective measure, code of conduct, security clearance, etc.</li>
            </ul>
            <div>
                <p>All Authorities</p>
            </div>
        </div>

        <!-- TITRE 5 -->
        <div>
            <h2>5. Contract Approval</h2>
        </div>
        <div>
            <ul>
                <li>Technical evaluation: manager</li>
                <ul>
                    <li>Peer review</li>
                    <li>Legal</li>
                    <li>Cost analyst</li>
                    <li>Risk</li>
                    <li>Contract quality assurance</li>
                    <li>Other</li>
                </ul>
                <li>Perform risk assessment if identified risks have changed</li>
                <li>Obtain approval for contract award if advance approval was not obtained or if requirement changed significantly from what was originally approved</li>
            </ul>
            <div>
                <p>Contract Authority</p>
            </div>
        </div>

        <!-- TITRE 6 -->
        <div>
            <h2>6. Contract Award</h2>
        </div>
        <div>
            <ul>
                <li>Contract award notice on Buyandsell.gc.ca/tenders when required</li>
                <li>Reporting to all sources, as required</li>
                <li>Regret letters</li>
                <li>Unsuccessful bidders may then request debriefings</li>
                <li>Provide recourse mechanisms</li>
            </ul>
            <div>
                <p>Contract Authority</p>
            </div>
        </div>

        <!-- TITRE 7 -->
        <div>
            <h2>7. Contract Administration</h2>
        </div>
        <div>
            <ul>
                <li>Monitor:</li>
                <ul>
                    <li>Progress of work against timelines</li>
                    <li>Contract progress against budget</li>
                    <li>Contractor’s performance against standards</li>
                </ul>
                <li>Watch for any potential issues or problems</li>
                <li>Resolve any disputes</li>
                <li>Contract audit, if required</li>
                <li>Amend contract, if required</li>
                <li>Task authorizations, if required</li>
                <li>Terminations if required as final option</li>
            </ul>
            <div>
                <p>All Authorities</p>
            </div>
        </div>

        <!-- TITRE 8 -->
        <div>
            <h2>8. Contract Payment</h2>
        </div>
        <div>
            <ul>
                <li>Acceptance of deliverables: manager</li>
                <li>Ensure contractual terms and conditions are met to the acceptable standard: manager and verification authority</li>
                <li>Ensure payment terms are met: manager and verification authority</li>
                <li>Exercise payment authority: manager and verification authority</li>
            </ul>
            <div>
                <p>All Authorities</p>
            </div>
        </div>

        <!-- TITRE 9 -->
        <div>
            <h2>9. Contract Close-Out</h2>
        </div>
        <div>
            <ul>
                <li>Ensure all contractual requirements are met and manager received and accepted all deliverables under the contract to an acceptable standard</li>
                <li>Ensure all payments to the contractor and settlement of claims have been made in accordance with the contract</li>
                <li>Ensure no outstanding action is required</li>
                <li>Ensure all reporting requirements have been met</li>
                <li>Ensure all required documentation is on file</li>
                <li>Ensure that all payment holdbacks are released</li>
                <li>Finalization of cost, including amendments, if required</li>
                <li>Review any lessons learned, including any audit findings</li>
                <li>Archive documents</li>
            </ul>
            <div>
                <p>All Authorities</p>
            </div>
        </div>
        
    </div>

    <div>
        <img />
    </div>
    <div>
        <img />
    </div>
</body>
</html>