@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:300,400,700|Roboto:400,700&display=swap');

html, body{
    margin: 0px;
    font-size: 14px;
}

.banner{
    background-image: url("../img/BuildingWPProcessMap.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    position: relative;
    
    &.fr{
        background-image: url("../img/BuildingWPProcessMap_fr.jpg");
    }
    
    h1{
        position: absolute;
        right: 5%;
        top: 25px;
        margin-top: 0;
        font-family: "Open Sans";
        font-weight: 300;
        font-size: 26px;
        text-transform: uppercase;
        color: white;
            
        @media (max-width: 1200px){
            top: 15px;
        }
        @media (max-width: 992px){
            top: 10px;
            font-size: 20px;
        }
    }
}

#content{
    padding: 50px 70px 50px 70px;
    color: #5d5d5d;
    
    h1, h2, h3, h4, h5, h6{
        font-family: "Open Sans Condensed";
        font-weight: 700;
        
        .bigger{
            font-size: 1.2em;
        }
    }
    h1{
        font-size: 32px;
    }
    h2.special{
        border-bottom: 5px solid #aabec2;
        margin-left: 10px;
        text-transform: uppercase;
    }
    
    
    .graph{
        font-family: "Roboto";
        padding-top: 50px;
        
        .col-2, .col-3, .col-1{
            p{
                font-weight: 700;
                margin-top: 5px;
            }
            
            &.line-end{
                position: relative;
                
                &:before{
                    content: "";
                    position: absolute;
                    width: 30%;
                    right: -10%;
                    height: 50px;
                    top: calc(50% - 25px);
                    background: url("../img/line-end.png") center right;
                    background-size: cover;
                    background-repeat: no-repeat;
                }
            }
            &.line{
                background: url("../img/line.png") center 49%;
                background-size: 100%;
                background-repeat: no-repeat;
                height: 80px;
                margin-top: 27px;
                position: relative;
                z-index: 2;
                padding-left: 0px;
                position: relative;
                left: 37px;
                
                p{
                    text-transform: uppercase;
                    font-size: 0.9em;
                    
                    &.smaller{
                        font-size: 0.7em;
                    }
                }
            }
            &.no-line{
                height: 80px;
                margin-top: 54px;
                position: relative;
                z-index: 2;
                padding-left: 7px;
                position: relative;
                left: 37px;
                
                p{
                    text-transform: uppercase;
                    font-size: 0.9em;
                    
                    &.smaller{
                        font-size: 0.7em;
                    }
                }
            }
            &.line-inverted{
                background: url("../img/line-inverted.png") center 49%;
                background-size: 100%;
                background-repeat: no-repeat;
                height: 80px;
                margin-top: 27px;
                position: relative;
                z-index: 2;
                padding-left: 37px;
                position: relative;
                right: 37px;
                
                p{
                    text-transform: uppercase;
                    font-size: 0.9em;
                    
                    &.smaller{
                        font-size: 0.7em;
                    }
                }
            }
            &.background-shape{
                //width: 200px;
                height: 80px;
                position: relative;
                background: #d7d9d8;
                top: 27px;
                padding-left: 50px;
                z-index: 1;
                
                &:before {
                    content: "";
                    position: absolute;
                    right: -40px;
                    top: 0;
                    width: 0;
                    height: 0;
                    border-left: 40px solid #d7d9d8;
                    border-top: 40px solid transparent;
                    border-bottom: 40px solid transparent;
                }
                &:after{
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 0;
                    height: 0;
                    border-left: 40px solid white;
                    border-top: 40px solid transparent;
                    border-bottom: 40px solid transparent;
                }
            }
            &.background-shape-inverted{
                //width: 200px;
                height: 80px;
                position: relative;
                background: #d7d9d8;
                top: 27px;
                padding-right: 50px;
                padding-left: 0px;
                z-index: 1;
                
                &.large{
                    height: 170px;
                    margin-bottom: 30px;
                }
                
                &:before {
                    content: "";
                    position: absolute;
                    left: -40px;
                    top: 0;
                    width: 0;
                    height: 0;
                    border-right: 40px solid #d7d9d8;
                    border-top: 40px solid transparent;
                    border-bottom: 40px solid transparent;
                }
                &:after{
                    content: "";
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 0;
                    height: 0;
                    border-right: 40px solid white;
                    border-top: 40px solid transparent;
                    border-bottom: 40px solid transparent;
                }
            }
            &.background-shape-inverted, &.background-shape{
                position: relative;
                
                p, ul, ol {
                    margin-top: 15px;
                    font-size: 0.8em;
                    margin-left: 50px;
                    width: calc(100% - 50px);
                }
                p:last-of-type{
                    margin-bottom: 5px;
                }
                ul, ol{
                    margin-top: 0px;
                    padding-left: 15px;
                    width: 115%;
                }
                
                .icon-left{
                    float: left;
                    width: 40px;
                    height: 40px;
                    left: 50px;
                    margin-top: 20px;
                    
                    &.letter{
                        background: url("../img/letter-icon.png") center center;
                        background-size: contain;
                    }
                    &.framework{
                        background: url("../img/framework-icon.png") center center;
                        background-size: contain;
                    }
                    &.plan{
                        background: url("../img/plan-icon.png") center center;
                        background-size: contain;
                    }
                    &.priorities{
                        background: url("../img/priorities-icon.png") center center;
                        background-size: contain;
                    }
                    &.calendar{
                        background: url("../img/calendar-icon.png") center center;
                        background-size: contain;
                    }
                    &.scan{
                        background: url("../img/scan-icon.png") center center;
                        background-size: contain;
                    }
                    &.updated{
                        background: url("../img/updated-icon.png") center center;
                        background-size: contain;
                    }
                    &.submit{
                        background: url("../img/submit-icon.png") center center;
                        background-size: contain;
                    }
                }
            }
            &.loop{
                background: url("../img/loop.png") right top;
                background-size: 275%;
                background-repeat: no-repeat;
                background-position-y: 59px;
                height: 150px;
                padding-top: 27px;
                padding-left: 20px;
                
                p{
                    text-transform: uppercase;
                    font-size: 0.9em;
                }
            }
            &.loop-arrow{
                background: url("../img/loop-arrow.png") right top;
                background-size: 76%;
                background-repeat: no-repeat;
                background-position-y: 31px;
                background-position-x: 99.5%;
                height: 150px;
                padding-top: 27px;
                padding-left: 20px;
                
                @media (max-width: 1400px) {
                    background-position-y: 41px;
                }
                
                p{
                    text-transform: uppercase;
                    font-size: 0.9em;
                }
            }
            &.loop-down{
                background: url("../img/loop-down.png") right bottom;
                background-size: 275%;
                background-repeat: no-repeat;
                height: 85px;
            }
            &.loop-inverted{
                background: url("../img/loop-inverted.png") left top;
                background-size: 93%;
                background-repeat: no-repeat;
                background-position-x: 190px;
                background-position-y: 61px;
                height: 200px;
                padding-top: 27px;
                padding-right: 40px;
                
                p{
                    text-transform: uppercase;
                    font-size: 0.9em;
                    text-align: right;
                    
                    &.smaller{
                        font-size: 0.8em;
                    }
                }
            }
            &.loop-down-inverted{
                background: url("../img/loop-down-inverted.png") left bottom;
                background-size: 93%;
                background-repeat: no-repeat;
                height: 75px;
                background-position-x: 190px;
            }
            
            &.side-line{
                background: url("../img/side-line.png") left bottom;
                background-size: 11%;
                background-repeat: no-repeat;
                height: 150px;
                background-position-x: 99.5%;
            }
            
            &.arrows-below{
                background: url("../img/arrows-below.png") center top;
                background-size: 95%;
                background-repeat: no-repeat;
                height: 150px;
                position: relative;
                z-index: 0;
            }
        }
    }
    .d-block{
        .box{
            height: 100%;
            background-color: #d7d9d8;
            padding: 15px;
            margin-bottom: 10px;
            margin-top: 10px;
            text-align: center;
            font-weight: 700;
            
            p:last-child{
                margin-bottom: 0;
            }
        }
        .between{
            position: relative;
            padding-top: 10px;
            padding-bottom: 10px;
            top: calc(50% - 25px);
            text-align: center;
            background-color: #EEF1EE;
            margin-bottom: 50px;
            
            .arrow {
                content: "";
                position: absolute;
                bottom: -40px;
                left: 0;
                width: 0;
                height: 0;
                border-top: 40px solid #EEF1EE;
                border-left: 40px solid transparent;
                border-right: 40px solid transparent;
            }
        }
    }
}

footer{
    padding: 20px 70px 20px 70px;
}